/*body{*/
/*    background-image: url( {% static 'images/login.jpg' %} );*/
/*}*/

.top {
    width: 100%;
    height: 100vh;
    background: url({% static 'images/login.jpg' %});
    background-size: cover;
    background-attachment: fixed;
}

.login {
    background: var(--body-bg);
    border: 1px solid var(--hairline-color);
    border-radius: 4px;
    overflow: hidden;
    width: 28em;
    min-width: 300px;
    margin: 100px auto;
    height: auto;
}

.container {
    position: relative;
    width: 100%;
    min-width: 980px;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

form-group {
    position: absolute;
}