
.container {
    margin: auto;
    margin-top: 10%;
    width: 300px;
    height: 150px;
    /*background: green;*/
}

/*.form-group{*/
/*    width: 100px;*/
/*    background: red;*/
/*    float: left;*/

/*}*/
/*.form-input{*/
/*    width: 200px;*/
/*    background: #609ab6;*/
/*    float: left;*/
/*}*/



